#call-to-action{:style => "text-align: center; margin-top: 80px"}
  %a.btn.btn-primary.btn-large{:href => "/critter"} Critter
  %a.btn.btn-primary.btn-large{:href => "/critter_iframe"} Critter 2
  %a.btn.btn-primary.btn-large{:href => "/users/sign_up"} Frame Critterism
  %a.btn.btn-primary.btn-large{:href => "/more"} Frame Pardot
  %a.btn.btn-primary.btn-large{:href => "/pardot_flat"} Pardot Flat
