=link_to "Home with vars", "/start?utm_medium=testmedium&utm_source=testsource&utm_campaign=testcampaign&utm_content=testcontent&utm_term=testterm", :class=>"btn"
-url = "/start?utm_medium=testmedium&utm_source=testsource&utm_campaign=testcampaign&utm_content=testcontent&utm_term=testterm&rampmetrics_utm_campaign=oct10&rampmetrics_utm_source=techcrunch&rampmetrics_utm_content=show_and_tell&rampmetrics_utm_medium=email&rampmetrics_utm_term=paper"
=link_to "Another with vars ", url, :class=>"btn"

-url = "/more?utm_medium=testmedium&utm_source=testsource&utm_campaign=testcampaign&utm_content=testcontent&utm_term=testterm&rampmetrics_utm_campaign=oct10&rampmetrics_utm_source=techcrunch&rampmetrics_utm_content=show_and_tell&rampmetrics_utm_medium=email&rampmetrics_utm_term=paper"
=link_to "More with vars ", url, :class=>"btn"
