=render "home/buttons"
%h4 Below is a pardot form on Demandramp.com in an iframe
%br
%iframe{:src=>"http://www2.demandramp.com/l/16912/2013-01-05/2p8yq", :id=>"lead", :width=>"100%", :height=>"600px"}

%hr
=render "buttons_blue"
