%h1 Some Other Landing
%h3 Click around then press button
=link_to "Home", "/start", :class=>"btn btn-info"
=link_to "Another", "/another", :class=>"btn btn-info"
=link_to "Next", "/next", :class=>"btn btn-info"

=link_to "Home with vars", "http://www.padput.com/start?utm_medium=testmedium&utm_source=testsource&utm_campaign=testcampaign&utm_content=testcontent&utm_term=testterm", :class=>"btn"
-url = "http://www.padput.com/start?utm_medium=testmedium&utm_source=testsource&utm_campaign=testcampaign&utm_content=testcontent&utm_term=testterm&rampmetrics_utm_campaign=oct10&rampmetrics_utm_source=techcrunch&rampmetrics_utm_content=show_and_tell&rampmetrics_utm_medium=email&rampmetrics_utm_term=paper"
=link_to "Another with vars ", url, :class=>"btn"

%hr
#call-to-action{:style => "text-align: center; margin-top: 80px"}
  %a.btn.btn-primary.btn-large{:href => "/users/sign_up"} Request a Whitepaper or Next
