=render "buttons"

%hr
#call-to-action{:style => "text-align: center; margin-top: 80px"}
  %a.btn.btn-primary.btn-large{:href => "/critter"} Request a Flat Request Whitepaper or Next
  %a.btn.btn-primary.btn-large{:href => "/users/sign_up"} Request a Frame Request Whitepaper or Next
