-#%iframe{:src=>"http://ww2.axcient.com/rampmetrics-test-blank.html", :id=>"lead", :width=>"100%", :height=>"600px"}
%iframe{:src=>"/axcient", :id=>"lead", :width=>"100%", :height=>"680px"}
=render "buttons"

%hr
=render "buttons_blue"

