=render "buttons"

%h4 Below is a Marketo form on Axcient.com in an iframe
%br
-#%iframe{:src=>"http://ww2.axcient.com/rampmetrics-test-blank.html", :id=>"lead", :width=>"100%", :height=>"600px"}
%hr
%iframe{:src=>"/axcient", :id=>"lead", :width=>"100%", :height=>"600px"}

%hr
=render "buttons_blue"

