=render "buttons"

%h4 Below is a Marketo form on Critterism.com in an iframe
%br
-#/
  %iframe{:src=>"https://app.crittercism.com/main/registration_landing_page", :id=>"lead", :width=>"100%", :height=>"600px"}
%iframe{:src=>"/critter2", :id=>"lead", :width=>"100%", :height=>"600px"}

%hr
=render "buttons_blue"

