#romance-copy{:style => "text-align: center; margin-top: 80px"}
  %h2 Critterism Form in iFrame
%br
%iframe{:src=>"http://rampframe.herokuapp.com/critter", :id=>"lead", :width=>"100%", :height=>"600px"}
%hr
%hr
=render "buttons_blue"