%h1
  -if request.subdomain.present?
    ="Subdomain! "
    =request.subdomain.capitalize
  =request.domain.capitalize
  =controller.action_name.capitalize
%br
%br
=render "buttons"

%hr
#call-to-action{:style => "text-align: center; margin-top: 80px"}
  %a.btn.btn-primary.btn-large{:href => "/critter"} Flat Request Whitepaper
  %a.btn.btn-primary.btn-large{:href => "/users/sign_up"} Frame Critterism
  %a.btn.btn-primary.btn-large{:href => "/more"} Frame Pardot
