%h1 Some Landing
%h3 Click around then press button
=link_to "Home", "/", :class=>"btn btn-info"
=link_to "Next", "/next", :class=>"btn btn-info"
=link_to "Another", "/another", :class=>"btn btn-info"

%hr
#call-to-action{:style => "text-align: center; margin-top: 80px"}
  %a.btn.btn-primary.btn-large{:href => "/users/sign_up"} Request Whitepaper
