%h1
  -if request.subdomain.present?
    ="Subdomain! "
    =request.subdomain.capitalize
  =request.domain.capitalize
  =controller.action_name.capitalize
%br
%br
=render "buttons"

%br
%iframe{:src=>"http://rampframe.herokuapp.com/pardot", :id=>"lead", :width=>"100%", :height=>"600px"}

%hr
#call-to-action{:style => "text-align: center; margin-top: 80px"}
  %a.btn.btn-primary.btn-large{:href => "/critter"} Flat Request Whitepaper
  %a.btn.btn-primary.btn-large{:href => "/users/sign_up"} Frame Request Whitepaper
